<table>
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <a target="_blank" href="https://fastheating.be"><img src="https://fastheating.be/assets/common/header.png"
                height="60%"></a>
          </td>
          <td>
            <div style="border-left:1px solid #fec506;height:120px"></div>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr>
          <td colspan="4">
            <h2 class="header">Factuur</h2>
          </td>
        </tr>
        <tr>
          <td>
            <table>
              <tr>
                <td><b>Ondernemingsnr.</b></td>
                <td>0869.704.770</td>
              </tr>
              <tr>
                <td><b>KBC</b></td>
                <td>BE53 7350 1011 3953</td>
              </tr>
              <tr>
                <td><b>BNP</b></td>
                <td>BE52 0016 5683 8509</td>
              </tr>
              <tr>
                <td><b>RPR Antwerpen</b></td>
                <td>Reg 02 2500</td>
              </tr>
            </table>
          </td>
          <td>
            <div style="border-left:1px solid #fec506;height:80px"></div>
          </td>
          <td>
            <table>
              <tr>
                <td>
                  <img src="https://fastheating.be/assets/email/location.png" style="height: 3%;" />
                </td>
                <td>
                  <a target="_blank" href="https://goo.gl/maps/nsFyPngZ7zXTPuJV6"
                    style="color: black; text-decoration: none;">
                    Europalaan 31 2620 Hemiksem
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="https://fastheating.be/assets/email/phone.png" style="height: 3%;" />
                </td>
                <td>
                  <a href="tel:0477 70 60 40" style="color: black; text-decoration: none;">0477 70 60 40</a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="https://fastheating.be/assets/email/mail.png" style="height: 3%;" />
                </td>
                <td>
                  <a href="mailto:fastheating@skynet.be"
                    style="color: black; text-decoration: none;">fastheating@skynet.be</a>
                </td>
              </tr>
              <tr>
                <td>
                  <img src="https://fastheating.be/assets//email/link.png" style="height: 3%;" />
                </td>
                <td>
                  <a target="_blank" href="https://fastheating.be"
                    style="color: black; text-decoration: none;">www.fastheating.be</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <hr style="height:1px;border-width:0;color:#fec506;;background-color:#fec506;">
    </td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <td><b>Factuurnummer:</b></td>
          <td>{{invoice.number}}</td>
        </tr>
        <tr>
          <td><b>Factuurdatum:</b></td>
          <td>{{invoice.date | date: 'dd/MM/yyyy'}}</td>
        </tr>
      </table>
    </td>
    <td style="padding-left: 275px;">
      <b>{{invoice.customer.name}}<br />
        {{invoice.customer.street}} {{invoice.customer.houseNumber}} {{invoice.customer.boxNumber}}<br />
        {{invoice.customer.postalCode}} {{invoice.customer.city}}<br/>
        {{invoice.customer.country}}</b>
    </td>
  </tr>
  <tr>
    <td></td>
    <td style="padding-left: 275px;">
      {{invoice.customer.taxNumber}}
    </td>
  </tr>
  <tr>
    <td colspan="2"><b>Beschrijving:</b></td>
  </tr>
  <tr>
    <td colspan="5">
      <p class="angular-with-newlines" style="height: 400px;">{{invoice.description}}<br /></p>
    </td>
  </tr>
  <tr>
    <td>
      <b>Voorwaarden:</b><br />
      <table style="border: 1px solid black;">
        <tr>
          <td>{{invoice.conditions}}</td>
        </tr>
      </table>
    </td>
    <td style="text-align: right;">
      <table style="width: 100%;">
        <tr>
          <td>Totaal exclusief BTW:</td>
          <td>€ {{invoice.subTotal}}</td>
        </tr>
        <tr>
          <td>BTW: {{invoice.vatRate}}%</td>
          <td>€ {{invoice.vatAmount}}</td>
        </tr>
        <tr>
          <td>Totaal inclusief BTW:</td>
          <td style="border: 1px solid black;">€ {{invoice.total}}</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="text-align:center"> <a target="_blank" href="https://fastheating.be"><img
          src="https://fastheating.be/assets/common/header.png" height="60%"></a></td>
  </tr>
</table>