<form [formGroup]="invoiceForm" (ngSubmit)="save()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{typeLabel}} informatie</mat-card-title>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" type="button" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="delete()">Remove</button>
            </mat-menu>
          </mat-card-header>
        <mat-card-content>
            <div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="{{typeLabel}} nummer" formControlName="number">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>{{typeLabel}} datum</mat-label>
                            <input matInput [matDatepicker]="picker3" formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                            <mat-datepicker #picker3></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div>
                <div class="row">
                    <div class="col">
                        <mat-form-field  class="full-width">
                            <mat-label>Naam klant</mat-label>
                            <mat-select (selectionChange)="selectCustomer($event)" name="customer" formControlName="customerId">
                                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                                    {{customer.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <button mat-button color="primary" (click)="newCustomer()">Nieuwe klant</button>
                        <button mat-button color="primary" (click)="editCustomer()">Bewerk klant</button>
                    </div>
                </div>
            </div>
            <app-customer-detail [customer]="customer"></app-customer-detail>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label>Beschrijving van de werken</mat-label>
                <textarea matInput placeholder="Plaatsing ..." matInput rows="9" formControlName="description"></textarea>
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
            <div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <mat-label>Voorwaarden</mat-label>
                            <textarea matInput placeholder="Medecontractant ..." matInput rows="4"
                                formControlName="conditions"></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit">Bewaar</button>&nbsp;
                        <button mat-raised-button color="primary" (click)="print()">Afdruk</button>
                    </div>
                    <div class="col">
                        <div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Totaal excl. BTW" formControlName="subTotal" (change)="calculateVatAmountAndTotal()">
                                        <mat-error *ngIf="invoiceForm.controls['subTotal'].hasError('required')">
                                            Subtotaal is <strong>verplicht</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="full-width">
                                    <div class="row">
                                        <div class="col">
                                            <mat-form-field class="full-width">
                                                <mat-label>BTW</mat-label>
                                                <mat-select (selectionChange)="selectVatRate($event)" name="vatRate" formControlName="vatRate">
                                                    <mat-option *ngFor="let vatRate of vatRates" [value]="vatRate">
                                                        {{vatRate}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="invoiceForm.controls['vatRate'].hasError('required')">
                                                    BTW percentage is <strong>verplicht</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col">
                                            <mat-form-field class="full-width">
                                                <input matInput placeholder="BTW bedrag" formControlName="vatAmount">
                                                <mat-error
                                                    *ngIf="invoiceForm.controls['vatAmount'].hasError('required')">
                                                    BTW bedrag is <strong>verplicht</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <mat-form-field class="full-width">
                                        <input matInput placeholder="Totaal incl. BTW" formControlName="total">
                                        <mat-error *ngIf="invoiceForm.controls['total'].hasError('required')">
                                            Totaal is <strong>verplicht</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>