<form>
    <div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Straat" [(ngModel)]="customer.street" name="street" disabled>
                </mat-form-field>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Huisnummer" [(ngModel)]="customer.houseNumber" name="houseNumber" disabled>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Busnummer" [(ngModel)]="customer.boxNumber" name="boxNumber" disabled>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Postcode" [(ngModel)]="customer.postalCode" name="postalCode" disabled>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Gemeente" [(ngModel)]="customer.city" name="city" disabled>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>