<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'template'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="/template/login">Login</a>
      <a mat-list-item href="#" routerLink="/template/dashboard">Startpagina</a>
      <a mat-list-item href="#" routerLink="/template/customer/list">Klanten</a>
      <a mat-list-item href="#" routerLink="/template/customer/new">Nieuwe klant</a>
      <a mat-list-item href="#" routerLink="/template/invoice/list" [queryParams]="{type: 'Invoice'}">Facturen</a>
      <a mat-list-item href="#" routerLink="/template/invoice/new" [queryParams]="{type: 'Invoice'}">Nieuwe factuur</a>
      <a mat-list-item href="#" routerLink="/template/invoice/list" [queryParams]="{type: 'CreditNote'}">Credit notas</a>
      <a mat-list-item href="#" routerLink="/template/invoice/new" [queryParams]="{type: 'CreditNote'}">Nieuwe credit nota</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>fast-heating-application</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
